@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: 'Open Sans',sans-serif;
}
:root {
     --white-color:#fff;
     --black-color:#000;
     --light-white-color:#f0f0f0;
     --light-gray-color:#e5e5e5;
     --border-color:#ccc;
     --primary-color:#3b82f6;
     --secondary-color:#404040;
     --overlay-dark-color:rgba(0,0,0,0.6);
}
.dark-mode {
     --white-color:#171717;
     --black-color:#d4d4d4;
     --light-white-color:#333;
     --light-gray-color:#404040;
     --border-color:#808080;
     --secondary-color:#d4d4d4;
}
body {
     background-color:var(--white-color);
}
.container {
     display: flex;
     flex-direction: column;
     overflow: hidden;
     max-height: 100vh;
}
header,.sidebar .nav-left,.category-list {
     position: sticky;
     top: 0px;
     z-index: 10;
     background-color:var(--white-color);
}
:where(.navbar,.sidebar) .nav-section {
     gap: 1rem;
}
:where(.navbar,.sidebar) :where(.nav-section,.nav-logo,.search-form) {
     display: flex;
     align-items: center;
}
:where(.navbar,.sidebar) :where(.logo-image,.user-image) {
     width: 32px;
     cursor: pointer;
     border-radius: 50%;
}
:where(.navbar,.sidebar) .nav-section .nav-button {
     background: none;
     border: none;
     border-radius: 50%;
     width: 40px;
     height: 40px;
     cursor: pointer;
}
:where(.navbar,.sidebar) .nav-section .nav-button:hover {
     background-color:var(--light-gray-color) !important;
}
:where(.navbar,.sidebar) .nav-button .uil {
     font-size: 1.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     color:var(--black-color);
}
:where(.navbar,.sidebar) .nav-logo {
     display: flex;
     gap: 0.5rem;
     text-decoration: none;
}
:where(.navbar,.sidebar) .nav-logo .logo-text {
     color:var(--black-color);
     font-size: 1.25rem;
}
.navbar {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 2rem;
     padding: 0.5rem 1rem;
}
.navbar .nav-center {
     display: flex;
     justify-content: center;
     gap: 0.5rem;
     width: 100%;
}
.navbar .search-form {
     flex: 1;
     max-width: 550px;
     height: 40px;
}
.navbar .search-form .search-input {
     width: 100%;
     height: 100%;
     font-size: 1rem;
     padding: 0rem 1rem;
     background-color:var(--white-color);
     color:var(--black-color);
     border: 1px solid var(--border-color);
     border-radius: 3.1rem 0rem 0rem 3.1rem;
     outline: none;
}
.navbar .search-form .search-input:focus {
     border-color:var(--primary-color);
}
.navbar .search-form .search-button {
     width: auto;
     height: 40px;
     padding: 0rem 1.25rem;
     border: 1px solid var(--border-color);
     border-left: 0rem;
     border-radius: 0rem 3.1rem 3.1rem 0rem;
}
.navbar .nav-center .mic-button {
     background-color:var(--light-white-color);
}
.navbar .nav-right .search-button {
     display: none;
}
.main-layout {
     display: flex;
     overflow-y: auto;
     scrollbar-color: #6a6a6a transparent;;
}
.main-layout .sidebar {
     width: 260px;
     overflow: hidden;
     padding: 0rem 0.7rem 0rem;
     background-color:var(--white-color);
}
.main-layout .sidebar .nav-left {
     display: none;
     padding: 0.5rem 0.3rem;
}
body.sidebar-hidden .main-layout .sidebar {
     width: 0px;
     padding: 0px;
}
.sidebar .links-container {
     padding: 1rem 0rem 2rem;
     overflow-y: auto;
     height: calc(100vh - 60px);
     scrollbar-width: thin;
     scrollbar-color: transparent transparent;
}
.sidebar .links-container .link-item {
     display: flex;
     align-items: center;
     color:var(--black-color);
     white-space: nowrap;
     font-size: 0.938rem;
     margin-bottom: 0.25rem;
     padding: 0.37rem 0.75rem;
     text-decoration: none;
}
.sidebar .link-section .link-item:hover {
     background-color:var(--light-gray-color);
}
.sidebar .link-section .link-item .uil {
     font-size: 1.4rem;
     margin-right: 0.625rem;
}
.sidebar .link-section .section-title {
     color:var(--black-color);
     font-size: 0.938rem;
     font-weight: 600;
     margin: 1rem 0rem 0.5rem 0.5rem;
}
.sidebar .section-separator {
     height: 1px;
     margin: 0.64rem 0rem;
     background-color:var(--light-gray-color);
}
.main-layout .content-wrapper {
     padding: 0rem 1rem;
     overflow-x: hidden;
     width: 100%;
}
.main-layout .content-wrapper .category-list {
     display: flex;
     overflow-x: auto;
     gap: 0.75rem;
     padding: 0.75rem 0rem 0.7rem;
     scrollbar-width: none;
}
.main-layout .content-wrapper .category-list .category-button {
     border: none;
     cursor: pointer;
     font-size: 0.94rem;
     font-weight: 500;
     border-radius: 0.5rem;
     white-space: nowrap;
     padding: 0.4rem 0.75rem;
     background-color:var(--light-gray-color);
     color:var(--black-color);
}
.main-layout .content-wrapper .category-list .category-button.active {
     background-color:var(--black-color);
     color:var(--white-color);
     pointer-events: none;
}
.dark-mode .category-list .category-button.active {
     filter: brightness(120%);
}
.main-layout .content-wrapper .category-list .category-button:not(.active):hover {
     background-color:var(--border-color);
}
.main-layout .content-wrapper .video-list {
     display: grid;
     grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
     gap: 1rem;
     padding: 1.25rem 0rem 4rem;
}
.main-layout .content-wrapper .video-list .video-card {
     text-decoration: none;
}
.main-layout .content-wrapper .video-list .video-card .thumbnail-container {
     position: relative;
}
.main-layout .content-wrapper .video-list .video-card .thumbnail {
     width: 100%;
     object-fit: contain;
     border-radius: 0.5rem;
     aspect-ratio: 16 / 9;
     background-color:var(--light-white-color);
}
.main-layout .content-wrapper .video-list .video-card .duration {
     position: absolute;
     right: 0.65rem;
     bottom: 0.8rem;
     background-color:var(--overlay-dark-color);
     color:#fff;
     font-size: 0.875rem;
     padding: 0rem 0.3rem;
     border-radius: 0.3rem;
}
.main-layout .content-wrapper .video-list .video-card .video-info {
     display: flex;
     gap: 0.7rem;
     padding: 0.7rem 0.5rem;
}
.main-layout .content-wrapper .video-list .video-card .icon {
     width: 36px;
     height: 36px;
     border-radius: 50%;
}
.main-layout .content-wrapper .video-list .video-card .title {
     font-size: 1rem;
     font-weight: 600;
     line-height: 1.375;
     color:var(--black-color);
     overflow: hidden;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 2;
}
.main-layout .content-wrapper .video-list .video-card:hover .title {
     color:var(--primary-color);
}
.main-layout .content-wrapper .video-list .video-card p {
     font-size: 0.875rem;
     color: var(--secondary-color);
}
.main-layout .content-wrapper .video-list .video-card .channel-name {
     margin: 0.25rem 0rem 0.15rem;
}
@media only screen and (max-width:768px){
     .navbar .nav-center {
          display: none;
     }
     .navbar .nav-right .search-button {
          display: block;
     }
     .main-layout .screen-overlay {
          position: absolute;
          left: 0%;
          top: 0%;
          z-index: 15;
          width: 100%;
          height: 100vh;
          background-color:var(--overlay-dark-color);
          transition: 0.2s ease;
     }
     body.sidebar-hidden .main-layout .screen-overlay {
          opacity: 0;
          pointer-events: none;
     }
     body.sidebar-hidden .main-layout .sidebar {
          left: -280px;
     }
     .main-layout .sidebar {
          position: absolute;
          left: 0px;
          top: 0px;
          z-index: 20;
          height: 100vh;
          transition: 0.2s ease;
     }
     .main-layout .sidebar .nav-left {
          display: flex;
     }
}